name: Deploy Frontend

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        # 已经是根目录了，不需要 working-directory
        run: npm install

      - name: Build
        run: npm run build:prod

      - name: Zip Dist
        # 压缩 dist 目录
        run: zip -r dist.zip dist/

      - name: Upload Artifact
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "dist.zip"
          # 目标路径还是主项目的 kdemo/frontend/
          target: "${{ secrets.PROJECT_PATH }}/kdemo/frontend/"
          # 不需要在 target 里再加一层目录


      - name: Restart Web Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            if command -v docker-compose &> /dev/null; then
                docker-compose restart web
            else
                docker compose restart web
            fi
